<app-header></app-header>

<section class="h-100 bg-dark">  
    <div class="container py-5 h-100">  
      <div class="row d-flex justify-content-center align-items-center h-100">  
        <div class="col">  
          <div class="card card-registration my-4">  
            <div class="row g-0">  
              <div class="col-xl-6 d-none d-xl-block">  
                <img  
                  src="https://source.unsplash.com/1600x900/?student,bookss"  
                  alt="Sample photo"  
                  class="img-fluid"  
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"  
                />  
              </div>  
              <div class="col-xl-6">  
                <div class="card-body p-md-5 text-black">  
                  <form #mySignUpForm="ngForm" (ngSubmit)="onSubmitTemplateBasedsignup(mySignUpForm.value)">
                    <h3 class="mb-5 text-uppercase"> Student registration form </h3>  
                    <div class="row">  
                      <div class="col-md-6 mb-4">  
                        <div class="form-outline">  
                          <input type="email" id="form3Example1m" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngModel]="reg.email" class="form-control form-control-lg" required=""/>  
                          <label class="form-label" for="form3Example1m"> Email </label>  
                        </div>  
                      </div>   
                    </div>
                    <div class="row">  
                      <div class="col-md-6 mb-4">  
                        <div class="form-outline">  
                          <input type="text" id="form3Example1m" name="username" pattern="\w{3,}" [ngModel]="reg.username" class="form-control form-control-lg" required=""/>  
                          <label class="form-label" for="form3Example1m"> User name </label>  
                        </div>  
                      </div>   
                    </div>  
                    <div class="row">  
                      <div class="col-md-6 mb-4">  
                        <div class="form-outline">  
                          <input type="password" id="form3Example1m1" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"  [ngModel]="reg.password" class="form-control form-control-lg" required=""/>  
                          <label class="form-label" for="form3Example1m1"> Password </label>  
                        </div>  
                      </div>    
                    </div>  
                    <div class="row">  
                      <div class="col-md-6 mb-4">  
                        <div class="form-outline">  
                          <input type="tel" id="phone" pattern="[0-9]{10}" name="phone" [ngModel]="reg.phone" class="form-control form-control-lg" required=""/>  
                          <label class="form-label" for="form3Example1m"> Phone Number </label>  
                        </div>  
                      </div>   
                    </div>
                    
                    <div class="d-flex justify-content-end pt-3">  
                      <button type="submit" class="btn btn-warning btn-lg ms-2" [disabled]="!mySignUpForm.valid"> Register </button>  
                    </div> 
                  </form> 
                </div>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
  </section>  